.section#about
  = render :partial => "site/nav", :locals => {:title => :about, :up => :home, :down => :products}
  .container
    .two_in_one_even
      %h2= t(:diamond_private_club)
      -[:about_1, :about_2, :about_3, :about_4].each do |sym|
        %p= t(sym)
      = image_tag "about_2.gif", :class => "about shadowed left"
    .two_in_one_even.last
      = image_tag "about_1.gif", :class => "about shadowed right"
      #testimonial-holder.shadowed
        %h2= t(:testimonials)
        #testimonial
          %ul
            - 3.times do |sym|
              %li
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis porttitor id quis ligula. Duis non ante quis ligula vestibulum scelerisque id quis est. Cras aliquam justo eget elit aliquet quis iaculis felis venenatis. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                %p.author John Locke
                = link_to "www.lostwebsite.com", "#"
      .sliderbutton= image_tag "testimonial-button-next.png", :onclick => "slideshow.move(1)"
      .sliderbutton= image_tag "testimonial-button-prev.png", :onclick => "slideshow.move(-1)"
      :javascript
        var slideshow=new TINY.slider.slide('slideshow',{
            id:'testimonial',
            auto:3,
            horizontal:true,
            position:0
        });
