.section#home
  #slideshow-holder
    .bottom
    #box-nav-slider
      #slideshow-navigation
        #pager
    #slideshow
      - [:welcome, :rings, :bracelets, :earrings, :necklaces].each_with_index do |sym, i|
        .slide-text
          = image_tag "slide#{i}.jpg"
          .desc
            %h1= t(sym)
            %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem quia voluptas sit asperna.
            = link_to t(:find_out_more), "#portfolio"
  .column-holder
    - 3.times do |i|
      .one_in_three{:class => i == 2 ? "last" : ""}
        %h2 some_title
        %br
        = image_tag "icon#{i+1}.png", :class => "left"
        %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem quia voluptas sit asperna.
